@import 'nprogress/nprogress.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
  }

  /* Custom NProgress styles */
#nprogress .bar {
  background: #6fd4d2;
}

#nprogress .peg {
  box-shadow: 0 0 10px #6fd4d2, 0 0 5px #6fd4d2;
}

.Toastify__toast-theme--light {
  background-color: #fff !important;
  color: #333 !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}

.Toastify__toast--success {
  border-left: 4px solid #55d5d2 !important;
}

.Toastify__toast--error {
  border-left: 4px solid #ef4444 !important;
}

.Toastify__toast--info {
  border-left: 4px solid #3b82f6 !important;
}